.popup__container-form-name {
  width: 358px;
  border: 0;
  border-bottom: 1px solid #0000002e;
  margin-bottom: 30px;
  padding-bottom: 13px;
  font-family: inherit;
}
@media (max-width: 520px) {
  .popup__container-form-name {
    width: 238px;
  }
}
