.profile__description {
  display: flex;
  justify-content: center;
  column-gap: 18px;
  align-items: baseline;
}

@media (max-width: 1045px) {
  .profile__description {
    margin-top: 26px;
    margin-bottom: 36px;
    column-gap: 10px;
  }
}
