.profile__author {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  /* or 114% */
  margin: 0 0 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 400px) {
  .profile__author {
    max-width: 320px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0 0 14px 0;
  }
}
